<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cowin App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="js/angular.min.js"></script>
    <script src="js/myscript.js"></script>
    <style type="text/css">
        * {
            margin:0px;
            padding:0px;
        }
        .breakingNews {
            background-color: grey;
            color: white;
            width: 100%;
            height: 30px;
            font-family: consolas;
            font-size : 20px;
        }
    </style>
</head>

<body ng-app="myapp" ng-controller="CowinController">
  
    <div class="container">
        <div class="jumbotron py-3">
            <div class="breakingNews">
                {{ "Breaking News : " + item  }}
            </div>
            <h1 class="text-center pt-3">{{ title }}</h1>
            <p>Coronaviruses are a group of related RNA viruses that cause diseases in mammals and birds. In humans and
                birds, they cause respiratory tract infections that can range from mild to lethal. Mild illnesses in
                humans
                include some cases of the common cold (which is also caused by other viruses, predominantly
                rhinoviruses),
                while more lethal varieties can cause SARS, MERS and COVID-19. In cows and pigs they cause diarrhea,
                while
                in mice they cause hepatitis and encephalomyelitis.
            </p>

                    <!-- All Data Start Block  -->
                    <div class="row text-center">
                        <div class="col-md-4">
                            <div class="card bg-warning text-white">
                                <div class="card-body">
                                    <h3>Total Vaccination Dose</h3>
                                    <h3>{{ all_vacc.vaccinationByAge.total }}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card bg-success text-white">
                                <div class="card-body">
                                    <h3>Vaccination  18 To 45 </h3>
                                    <h3>{{ all_vacc.vaccinationByAge.vac_18_45 }}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card bg-danger text-white">
                                <div class="card-body">
                                    <h3>Vaccination  45 To 60 </h3>
                                    <h3>{{ all_vacc.vaccinationByAge.vac_45_60 }}</h3>
                                </div>
                            </div>
        
                        </div>
        
                    </div>
                    <!-- End All Data Block -->
            <!-- All Data Start Block  -->
            <div class="row text-center mt-4">
                <div class="col-md-4">
                    <div class="card bg-warning text-white">
                        <div class="card-body">
                            <h3>Confirmed Cases</h3>
                            <h3>{{ all_data.confirmed.value }}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-success text-white">
                        <div class="card-body">
                            <h3>Recovered Cases</h3>
                            <h3>{{ all_data.recovered.value }}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-danger text-white">
                        <div class="card-body">
                            <h3>Death Cases</h3>
                            <h3>{{ all_data.deaths.value }}</h3>
                        </div>
                    </div>

                </div>

            </div>
            
            <!-- End All Data Block -->
            <!-- {{ all_country.countries }} -->
            <input type="text" class="form-control mt-4" placeholder="Enter Country Here" ng-model="c" ng-change="get_country_data()" />
            
            <div class="container-fluid" ng-if="c_data">
            <h3 class="text-center mt-4 text-uppercase container" style="width:500px">{{c}} Status</h3>

              <!-- All Data Start Block  -->
              <div class="row text-center mt-4">
                <div class="col-md-4">
                    <div class="card bg-warning text-white">
                        <div class="card-body">
                            <h3>Confirmed Cases</h3>
                            <h3>{{ c_data.confirmed.value }}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-success text-white">
                        <div class="card-body">
                            <h3>Recovered Cases</h3>
                            <h3>{{ c_data.recovered.value }}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-danger text-white">
                        <div class="card-body">
                            <h3>Death Cases</h3>
                            <h3>{{ c_data.deaths.value }}</h3>
                        </div>
                    </div>

                </div>

            </div>
            <!-- End All Data Block -->

        </div>
    </div>
</div>


</body>

</html>